body {
  font: 16px;
    background-image: url(https://i.ytimg.com/vi/m1iTy0zJ8dU/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCTDt2SQGaH6r5M-M-v5zpB1-0aTg);
    
    background-size: cover;
}

.border {
  display: inline-block;
  background: radial-gradient(circle, black, #2B2E13, #BD3128);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 4rem;
  border-radius: 10px;
}

h1 {
    font-size:xx-large;
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Michroma";
    color: white;
    img {
      margin-top: 1rem;
    }
}

img {
  border: 2px solid red;
}
.lyrics {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Rubik Glitch";
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Michroma";
    color: white;
}

.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  height: 2px;
  height: 0.2rem;
  background-color: #bd3128;
  border-color: #bd3128;
  width: 50%;
  min-width: 24rem;
}

a, a:visited {
  color: white;
}

a:hover {
  color: #BD3128;
}

