body {
    
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.lyrics {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}